.createForm {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    border: 1px solid silver;
}

.createForm .headerContainer {
    margin-bottom: 20px; 
}

.createForm span {
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.createForm div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notShow .headerContainer {
    margin-bottom: 0;
}